
<div id="container">
    <h1>Name: @ViewBag.SingleDish.Name</h1>
    <h1>Chef Name: @ViewBag.SingleDish.ChefName</h1>
    <h1>Calories: @ViewBag.SingleDish.Calories</h1>
    <h1>Tastiness: @ViewBag.SingleDish.Tastiness</h1>
    <h1>Description: @ViewBag.SingleDish.Description</h1>
    <a href="/dishes/@ViewBag.SingleDish.DishId/edit" class="btn btn-sm btn-info">Edit</a>
    <a href="/dishes/@ViewBag.SingleDish.DishId/delete" class="btn btn-sm btn-danger">Delete</a>
</div>